altasetting==0.1.1
babelfish==0.5.5
blessings==1.6
colorama==0.3.7
docutils==0.12
guessit==2.1.0
lockfile==0.12.2
netifaces==0.10.5
Ojota==3.1.2
pyaml==16.9.0
python-daemon==2.1.1
python-dateutil==2.5.3
PyYAML==3.12
qtfaststart==1.8
rebulk==0.7.6
six==1.10.0
